<%= provide(:title, "Reset Password") %>
<h1>Reset Password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :current_password %>
      <%= f.password_field :password %>

      <%= f.label :new_password %>
      <%= f.password_field :new_password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Reset Password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
