<li id="comment-<%= comment.id %>">
  <span class="content"><%= comment.content %></span>
  <span class="user"><%= link_to @user.user_name, user_url(@user) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>