<div class="modal-dialog">
  <div class="modal-content">
    <%= image_tag @picture.picture.url %>
    Posted <%= time_ago_in_words(@picture.created_at) %> ago.
    <ol class="comments">
      <%= render @comments %>
    </ol>
  </div>
</div>