<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Top Page", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Notice",   '#' %></li>
        <li><%= link_to "Search",   '#' %></li>
        <% if logged_in? %>
          <li><%= link_to "People", users_path %></li>
          <li><%= link_to "My page", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>