<% provide(:title, "TopPage") %>

<% if !current_user %>
  <h1>Welcome</h1>
<% else %>
  <h1>Time Line</h1>
  <% if @time_line_items.any? %>
    <ol class="timeline">
      <%= render @time_line_items %>
    </ol>
    <%= will_paginate @time_line_items %>
  <% end %>
<% end %>
<%= link_to "sign up", signup_path, class:"btn btn-lg btn-primary" %>