<div class="col-xs-4" id="picture-<%= picture.id %>">
  <span class="user"><%= link_to picture.user.user_name, picture.user %></span>
  <span class="timestamp">
    <%= link_to comment_path(picture.id), remote: true do %>
      <%= image_tag picture.picture.url if picture.picture? %>
    <% end %>
    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  </span>
  <% if current_user?(picture.user) %>
  <%= link_to "delete", picture, method: :delete,
                                   data: { confirm: "You sure?" }, class: "btn btn-primary" %>
  <% end %>
</div>