<% provide(:title, "upload picture") %>
<h1>Upload your picture</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@picture) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
      <%= f.submit "Upload!", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%#--5MBより大きいファイルにアラートを出す--%>
  <script type="text/javascript">
    $('#picture_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
</div>