<% provide(:title, "Edit profile") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>Public User Informations</p>
      <%= f.label :name %>
      <%= f.text_field :first_name, placeholder: "first name" %>
      <%= f.text_field :last_name, placeholder: "last name" %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %>

      <%= f.label :web_site %>
      <%= f.text_field :web_site %>

      <%= f.label :introduce_your_self %>
      <%= f.text_field :self_introduce %>

      <p>Private User Informations</p>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone %>

      <%= f.label :male %>
      <%= f.radio_button 'gender', '1', {} %>
      <%= f.label :female %>
      <%= f.radio_button 'gender', '0', {} %>

      <%= f.submit "Save the Change", class: "btn btn-primary" %>

      <%= link_to "edit password", edit_password_reset_path, class: "btn btn-primary" %>
      <%= link_to "delete account", @user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>