<% provide(:title, "People") %>
<h1>Find your friend</h1>

<%= will_paginate %>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.user_name, user %>
    </li>
  <% end %>
<%= will_paginate %>