<% provide(:title, "User Page") %>
<% if current_user == @user %>
  <h1>Hi, <%= @user.first_name %>!</h1>
  <div>
    <label for="name">Self introduce<label>
    <textarea readonly>
      <%= @user.self_introduce %>
    </textarea>
  </div>
  <%= link_to "update my info", edit_user_path, class: "btn btn-primary"%>
<% else %>
  <h1><%= @user.user_name %>'s page</h1>
  <div>
    <label for="name">Self introduce<label>
    <textarea readonly>
      <%= @user.self_introduce %>
    </textarea>
  </div>
  <% unless current_user?(@user) %>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
      <%= render 'follow' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% if @user.pictures.any? %>
      <h3>Pictures (<%= @user.pictures.count %>)</h3>
      <ol class="pictures">
        <%= render @pictures %>
      </ol>
      <%= will_paginate @pictures %>
    <% end %>
  </div>
</div>